$black-color: #0a0a0a;

$primary-color: #121212;
$secondary-color: #181818;
$card-el: #202020;

$text-primary: #f5f5f5;
$text-secondary: #d4d4d4;
$text-muted: #8b8b8b;

$border-color: #2c2c2c;

$brand-red: #ff4d4f;
$hover-red: #ff6b6b;

$success-color: #22c55e;
$warning-color: #f59e0b;
$info-color: #3b82f6;
$features-color: #8b5cf6;

$transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);

// ----

.header {
  top: 0;
  width: 100%;
  height: 5rem;
  position: sticky;
  z-index: 999999;
  background: $black-color;
  border-bottom: 1px solid $secondary-color;

  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: center;
      justify-self: center;

      img {
        width: 3rem;
        height: auto;
        object-fit: cover;
        pointer-events: none;
      }
    }

    .nav__actions {
      gap: 1rem;
      display: flex;
      align-items: center;

      .search__btn {
        width: 2.4rem;
        height: 2.4rem;
        display: flex;
        align-items: center;
        border-radius: 1rem;
        justify-content: center;

        font-size: 1.4rem;
        color: $text-secondary;
        transition: $transition;
        background: $primary-color;
        border: 1px solid $border-color;

        &:hover {
          background: $brand-red;
          color: $text-primary;
          cursor: pointer;
          box-shadow: 0 1px 0px 2px $secondary-color;
        }
      }

      .signin__btn {
        padding: 1rem;
        gap: 0.2rem;
        display: flex;
        height: 2.4rem;
        font-weight: 500;
        align-items: center;
        border-radius: 1rem;
        color: $text-primary;
        background: $brand-red;
        transition: $transition;

        &:hover {
          border-radius: 2rem;
          background: $hover-red;
          box-shadow: 0 1px 0 2px $secondary-color;
        }
      }

      .user__img_btn {
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 1rem;
        overflow: hidden;
        padding: 0.1rem;
        display: flex;
        align-items: center;
        transition: $transition;
        background: $border-color;
        justify-content: center;
        border: 1px solid transparent;

        img {
          width: 2.2rem;
          height: 2.2rem;
          object-fit: cover;
          border-radius: 0.9rem;
        }

        &:hover {
          background: $brand-red;
          cursor: pointer;
        }
      }
    }
  }
}
.profile__menu_on {
  position: absolute;
  z-index: 999999;
  right: 0;
  padding: 1rem;
  width: 100%;
  max-width: 220px;
  top: calc(100% + 0.7rem);
  background: $primary-color;
  border-radius: 1rem 0 1rem 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;

  .profile__menu {
    gap: 0.2rem;
    display: flex;
    flex-direction: column;

    a {
      gap: 1rem;
      display: flex;
      font-size: 12px;
      font-weight: 400;
      padding: 0.6rem 1rem;
      align-items: center;
      border-radius: 0.6rem;
      color: $text-secondary;
      transition: $transition;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      img {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 1rem;
      }

      &.user__profile {
        background: $black-color;
      }

      &:hover {
        background: $secondary-color;
        color: $text-primary;
      }
    }
  }
  .other__on_nav {
    border-top: 1px solid $border-color;
    position: relative;
  }
  .find__more_nav {
    gap: 1rem;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
  }
}

.search__modal__panel {
  position: fixed;
  inset: 0;

  background: rgba($black-color, 0.4);
  backdrop-filter: blur(1rem);

  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding-top: 6rem;

  z-index: 999;

  .search__modal {
    width: min(700px, 95%);
    padding: 1rem;
    max-height: 80vh;
    overflow: hidden;
    border-radius: 1rem;
    background: rgba($primary-color, 0.6);
    box-shadow: 0 0 1px 1px $border-color;

    .content {
      position: relative;
      // background: $black-color;

      .search__box {
        position: sticky;
        top: 0;
        padding: 1rem;
        height: 4.2rem;
        border-radius: 1rem;
        margin-bottom: 1rem;
        background: $black-color;
        box-shadow: 0 2px 3px 0px black;
        gap: 1rem;
        display: flex;
        align-items: center;
        transition: $transition;

        svg {
          color: $text-muted;
          font-size: 1.4rem;
        }

        input {
          flex: 1;
          border: none;
          font-size: 14px;
          color: $text-primary;
          background: transparent;

          &::placeholder {
            color: $text-muted;
          }
        }
        .clear__search {
          height: 34px;
          width: 34px;
          border: none;
          cursor: pointer;
          display: grid;
          place-items: center;
          border-radius: 0.9rem;
          transition: $transition;
          background: $primary-color;

          &:hover {
            background: $card-el;
          }
        }

        &:focus-within {
          background: $secondary-color;
        }
      }
    }
  }

  .search__results {
    max-height: calc(80vh - 72px);
    overflow-y: auto;
    padding: 0.5rem;

    .search__suggestion_title {
      padding: 1rem;
      display: flex;
      padding-top: 0;
      justify-content: space-between;
      align-items: center;

      span {
        color: $text-muted;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      span.delete__recent {
        color: $hover-red;
        cursor: pointer;
        font-size: 0.85rem;
        font-weight: 500;
        transition: $transition;

        &:hover {
          color: $success-color;
        }
      }
    }

    .search_recents {
      position: relative;
      margin-bottom: 1rem;

      ul {
        gap: 1rem;
        display: flex;
        padding: 0 1rem;
        flex-wrap: wrap;
        align-items: stretch;

        li {
          gap: 0.4rem;
          display: flex;
          padding: 0.6rem;
          user-select: none;
          align-items: center;
          border-radius: 0.8rem;
          color: $text-secondary;
          transition: $transition;
          background: $secondary-color;

          svg {
            font-size: 0.8rem;
            color: $text-muted;
          }
          &:hover {
            cursor: pointer;
            color: $text-primary;
            background: $card-el;
            box-shadow: 0 0 0 1px $border-color;
          }
        }
      }
    }

    .search_people,
    .search_places,
    .search_teams,
    .search_others {
      margin-bottom: 1rem;

      ul {
        padding: 0 1rem;
        gap: 0.4rem;
        display: flex;
        flex-direction: column;
      }
    }
    .search_others {
      ul {
        gap: 0.6rem;
        flex-wrap: wrap;
        flex-direction: row;

        li {
          gap: 0.3rem;
          display: flex;
          padding: 0.8rem;
          align-items: center;
          border-radius: 1rem;
          transition: $transition;
          color: $text-secondary;
          background: $secondary-color;

          &:hover {
            cursor: pointer;
            color: $text-primary;
            box-shadow: 0 1px 0 1px $border-color;
          }
        }
      }
    }
    .search_people,
    .search_places,
    .search_teams {
      position: relative;

      ul {
        padding: 1rem;
        border-radius: 1rem;
        background: $primary-color;

        li {
          width: 100%;
          position: relative;
          gap: 0.6rem;
          display: flex;
          padding: 0.6rem;
          border-radius: 1rem;
          align-items: center;
          transition: $transition;

          .img {
            width: 2.4rem;
            overflow: hidden;
            border-radius: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $card-el;
          }
          .meta {
            display: flex;
            flex-direction: column;

            .name {
              color: $text-primary;
              font-size: 13px;
              font-weight: 600;
              line-height: 13px;
            }
            .sub {
              color: $text-muted;
              font-size: 12px;
            }
          }

          &:hover {
            cursor: pointer;
            background: $card-el;
          }
        }
      }
    }
  }

  .no_search_found {
    padding: 4rem 2rem;

    text-align: center;

    h4 {
      color: $text-primary;
      margin-bottom: 0.5rem;
    }

    p {
      color: $text-muted;
    }
  }

  .search__results::-webkit-scrollbar {
    width: 6px;
    background: $black-color;
  }

  .search__results::-webkit-scrollbar-thumb {
    background: $border-color;
    border-radius: 999px;
  }
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 4rem 0;
  background: $primary-color;
  z-index: 0;

  .content {
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;

    .div {
      gap: 1rem;
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      a {
        display: flex;

        img {
          width: 3.3rem;
          user-select: none;
        }
      }

      .hello {
        gap: 0.6rem;
        display: flex;
        align-items: center;

        .circle {
          width: 1.4rem;
          height: 1.4rem;
          position: relative;

          .fancy-box {
            position: relative;
            width: 100%;
            height: 100%;
            box-shadow: 0 0 2px 0px $brand-red;
            border-radius: 15px;
            background: conic-gradient(
              from 0deg at 50% 50%,
              rgba(251, 250, 252, 0) 288deg,
              $brand-red 352.8deg
            );
            animation: spin 3s linear infinite;
            will-change: transform;
            opacity: 1;
            box-sizing: border-box;
            overflow: hidden;
          }

          .fancy-box::after {
            content: "";
            position: absolute;
            inset: 0;
            border: inherit;
            border-radius: inherit;
            pointer-events: none;
          }
        }
        @keyframes spin {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }

        h2 {
          font-size: 1.5rem;
        }
      }

      ul {
        gap: 0.2rem;
        display: flex;
        flex-direction: column;

        a {
          color: $text-secondary;
          font-weight: 500;
          transition: $transition;

          &:hover {
            color: $hover-red;
          }
        }
      }

      p {
        margin-top: 1rem;
        font-size: 12px;
        color: $text-primary;
      }
    }

    .rdiv {
      gap: 1rem;
      display: flex;
      align-items: flex-end;
      flex-direction: column;

      p {
        font-size: 14px;
        color: $text-secondary;
        font-weight: 500;
      }

      ul {
        gap: 0.6rem;
        display: flex;
        align-items: center;

        a {
          padding: 0.6rem;
          font-size: 1rem;
          display: flex;
          transition: $transition;
          color: $text-secondary;
          border-radius: 0.8rem;
          background: $black-color;

          &:hover {
            background: $hover-red;
            color: $black-color;
          }
        }
      }
    }
  }
}

// .custom-datepicker.react-datepicker {
//   background: #1e1e2e;
//   border: 1px solid #313244;
//   color: #cdd6f4;
// }
// .custom-datepicker.react-datepicker__header {
//   background: #11111b;
//   border-bottom: 1px solid #313244;
// }
// .custom-datepicker .react-datepicker__current-month,
// .custom-datepicker .react-datepicker__day-name,
// .custom-datepicker .react-datepicker__time-name {
//   color: #cdd6f4;
// }
// .custom-datepicker .react-datepicker__day {
//   color: #a6adc8;

//   &:hover {
//     background: #45475a;
//     color: #ffffff;
//   }
// }
// .custom-datepicker .react-datepicker__day--selected{
//   background: #89b4fa;
//   color: #11111b;
// }
// .custom-datepicker .react-datepicker__day--disabled{
//   color: #585b70;
// }
