$black-color: #0a0a0a;

$primary-color: #121212;
$secondary-color: #181818;
$card-el: #202020;

$text-primary: #f5f5f5;
$text-secondary: #d4d4d4;
$text-muted: #8b8b8b;

$border-color: #2c2c2c;

$brand-red: #ff4d4f;
$hover-red: #ff6b6b;

$success-color: #22c55e;
$warning-color: #f59e0b;
$info-color: #3b82f6;
$features-color: #8b5cf6;

$shadow: 0 0 0 1px;
$transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);

.homepage {
  width: 100%;
  z-index: 1;
  position: relative;
  background: $black-color;

  .content {
    width: 100%;
    padding: 2rem 1rem;
    position: relative;

    gap: 2rem;
    display: flex;
    align-items: start;

    .main__div {
      flex: 4;
      position: relative;

      gap: 1rem;
      display: flex;
      flex-direction: column;

      .match__list__box {
        width: 100%;
        padding: 1rem;
        position: relative;
        border-radius: 1rem;
        background: $primary-color;
        box-shadow: 0 0 0 1px $border-color;

        gap: 1rem;
        display: flex;
        flex-direction: column;

        .div__title {
          gap: 0.6rem;
          display: flex;
          padding: 0.3rem;
          align-items: center;

          .search__box {
            flex: 1;
            padding: 0 1rem;
            display: flex;
            height: 3rem;
            align-items: center;
            position: relative;
            overflow: hidden;
            border-radius: 0.8rem;
            transition: $transition;
            background: $secondary-color;

            input {
              flex: 1;
              height: 100%;
              padding-left: 2rem;
              font-size: 14px;
              color: $text-primary;
              transition: $transition;

              &::placeholder {
                color: $text-muted;
              }
            }
            span {
              position: absolute;
              font-size: 1.3rem;
              color: $text-muted;
              transition: $transition;
              top: 50%;
              left: 1rem;
              transform: translateY(-50%);
            }

            &:focus-within {
              background: $card-el;

              input {
                padding-left: 1.6rem;
              }
              span {
                font-size: 1rem;
                opacity: 0.6;
              }
            }
          }
          button.calendar__btn,
          button.live__btn {
            border: none;
            display: flex;
            height: 2.8rem;
            width: 2.6rem;
            display: flex;
            cursor: pointer;
            font-size: 0.7rem;
            font-weight: 600;
            border-radius: 1rem;
            align-items: center;
            background: $card-el;
            text-transform: uppercase;
            transition: $transition;
            justify-content: center;

            &:hover {
              color: $hover-red;
              background: $black-color;
              box-shadow: 0 2px 0 1px $border-color;
            }
            &.active {
              background: $hover-red;
              color: $black-color;
            }
          }
        }
        .match__list {
          padding: 0.4rem;
          position: relative;

          ul {
            width: 100%;
            position: relative;

            gap: 0.4rem;
            display: flex;
            flex-direction: column;

            li.match__card {
              display: grid;
              align-items: center;
              background: $secondary-color;
              grid-template-columns: 1fr 3fr 1fr;
              padding: 0.6rem 1rem;
              border-radius: 0.6rem;
              transition: $transition;

              .match__timer {
                position: relative;
                height: 100%;
                display: flex;
                align-items: center;
                margin-right: 1rem;
                flex-direction: column;
                justify-content: center;
                background: $primary-color;
                border-radius: 0.6rem 0 0 0.6rem;

                p {
                  text-transform: uppercase;
                  font-size: 10px;
                  color: $text-muted;
                  font-weight: 500;
                }
                h3 {
                  font-size: 14px;
                  font-weight: 500;
                  color: $text-primary;
                }
              }
              .match__teams {
                position: relative;
                gap: 0.6rem;
                display: flex;
                flex-direction: column;

                .match__team {
                  gap: 0.6rem;
                  display: flex;
                  align-items: center;

                  .team__img {
                    width: 20px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                      width: 100%;
                      height: auto;
                      object-fit: cover;
                      pointer-events: none;
                    }
                  }
                  .team_name {
                    white-space: nowrap;
                    align-self: center;
                    overflow: hidden;
                    font-size: 14px;
                    font-weight: 500;
                    color: $text-secondary;
                    text-overflow: ellipsis;
                  }
                }
              }
              .match__views {
                gap: 0.4rem;
                display: flex;
                align-items: center;
                position: relative;
                justify-content: space-between;

                .match__goals {
                  gap: 0.6rem;
                  display: flex;
                  flex-direction: column;

                  span {
                    font-size: 14px;
                    font-weight: 700;
                    color: $text-primary;
                  }
                }
                .save__match {
                  display: flex;
                  width: 2.4rem;
                  height: 2.4rem;
                  display: flex;
                  cursor: pointer;
                  font-size: 1.5rem;
                  align-items: center;
                  border-radius: 1rem;
                  color: $text-secondary;
                  justify-content: center;
                  transition: $transition;
                  background: $primary-color;

                  &:hover {
                    color: $brand-red;
                    border-radius: 2rem;
                    background: $black-color;
                    box-shadow: 0 2px 0 1px $border-color;
                  }
                  &.active {
                    background: $brand-red;
                    color: $black-color;
                  }
                }
              }
            }
          }
        }
      }

      .leaderboard__list {
        width: 100%;
        padding: 1rem;
        position: relative;
        border-radius: 1rem;
        box-shadow: $shadow $secondary-color;

        .box__title {
          gap: 1rem;
          display: flex;
          margin-bottom: 1rem;
          align-items: center;

          span {
            font-size: 1.5rem;
            padding: 0.7rem;
            border-radius: 1rem;
            background: $card-el;
          }
          h3 {
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
          }
          p {
            font-size: 14px;
            color: $text-muted;
          }
        }
        .leaderboard__items {
          gap: 1rem;
          display: flex;
          margin-top: 1rem;
          align-items: center;
          flex-direction: column;

          .lb__filters {
            width: 100%;
            display: flex;
            overflow: hidden;
            align-items: center;
            border-radius: 0.6rem;
            justify-content: center;
            background: $primary-color;

            li {
              flex: 1;
              padding: 1rem;
              display: flex;
              font-size: 12px;
              font-weight: 500;
              align-items: center;
              transition: $transition;
              justify-content: center;
              text-transform: uppercase;

              &:hover {
                background: $card-el;
                cursor: pointer;
              }
              &.active {
                background: $border-color;
                color: $hover-red;
              }
            }
          }
          .lb__lists {
            gap: 1rem;
            width: 100%;
            display: flex;
            padding: 0.6rem;
            position: relative;
            flex-direction: column;

            .top__lb {
              align-items: flex-end;
              display: flex;
              width: 100%;

              .lb {
                flex: 1;
                display: flex;
                padding-top: 0.4rem;
                align-items: center;
                border-radius: 1rem;
                background: $primary-color;
                justify-content: center;
                flex-direction: column;

                .lb__img {
                  width: 100%;
                  height: 120px;
                  overflow: hidden;
                  position: relative;
                  border-radius: 1rem 1rem 0 0;
                  background: $brand-red;

                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                  span {
                    position: absolute;
                    bottom: 0.3rem;
                    left: 50%;
                    opacity: 0.3;
                    font-size: 4rem;
                    line-height: 1;
                    user-select: none;
                    color: $brand-red;
                    font-weight: bolder;
                    transform: translateX(-50%);
                  }
                }

                .lb_in {
                  display: flex;
                  align-items: center;
                  margin-bottom: 0.6rem;
                  flex-direction: column;

                  h2 {
                    font-size: 14px;
                    font-weight: 500;
                    color: $text-primary;
                    text-transform: uppercase;
                  }
                  p {
                    font-size: 12px;
                    color: $text-muted;
                  }
                }

                &.lb1st {
                  .lb__img {
                    width: 120%;
                    height: 150px;
                    z-index: 9;
                    box-shadow: 0 0 1px 2px $black-color;
                  }
                }
              }
            }
            .other__lb {
              display: flex;
              width: 100%;
              align-items: flex-start;
              flex-direction: column;

              .lb__item {
                gap: 1rem;
                width: 100%;
                display: flex;
                padding: 0.6rem;
                align-items: center;
                border: 1px solid $border-color;
                justify-content: space-between;

                &:last-child {
                  border-radius: 0 0 1rem 1rem;
                }

                &.mine{
                  background: $brand-red;
                }

                .lb__meta {
                  gap: 1rem;
                  display: grid;
                  grid-template-columns: 1fr 2fr 4fr;

                  .item__rank {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1rem;
                    font-weight: 500;
                    color: $text-muted;
                  }

                  .item_img {
                    display: flex;
                    width: 2.4rem;
                    height: 2.4rem;
                    overflow: hidden;
                    border-radius: 1rem;
                    background: $brand-red;

                    img {
                      width: 100%;
                      height: 100%;
                    }
                  }
                  .item__meta {
                    h3 {
                      font-size: 14px;
                      font-weight: 500;
                      color: $text-primary;
                    }
                    p {
                      font-weight: 400;
                      font-size: 10px;
                      color: $text-muted;
                      user-select: none;
                    }
                  }
                }
                .item__point {
                  h3 {
                    font-size: 14px;
                    color: $text-primary;
                  }
                  p {
                    font-size: 10px;
                    color: $text-muted;
                    line-height: 1;
                  }
                }
              }
            }
          }
        }
      }
    }

    .side__div {
      flex: 3;
      position: relative;

      gap: 2rem;
      display: flex;
      flex-direction: column;

      .home__community {
        gap: 1rem;
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        border-radius: 1rem;
        align-items: center;
        transition: $transition;
        background: $secondary-color;
        box-shadow: 0 0 0 1px $border-color;

        .community__imgs {
          display: flex;
          align-items: center;

          .img {
            width: 3rem;
            height: 3rem;
            overflow: hidden;
            display: flex;
            cursor: pointer;
            user-select: none;
            margin-left: -1rem;
            align-items: center;
            border-radius: 1.3rem;
            background: $brand-red;
            justify-content: center;
            border: 2px solid $secondary-color;

            &:first-child {
              margin: 0;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              pointer-events: none;
            }
          }
        }
        .community__info {
          h2 {
            font-size: 1rem;
            font-weight: 700;
            color: $text-primary;
          }
          p {
            font-size: 12px;
            color: $text-secondary;
          }
        }

        &:hover {
          cursor: pointer;
          background: $card-el;
        }
      }

      .home__predictions {
        position: relative;
        gap: 1rem;
        display: flex;
        flex-direction: column;

        .__title {
          position: relative;
          height: 1rem;
          display: flex;

          .line {
            flex: 1;
            width: 100%;
            height: 0.1rem;
            position: relative;
            background: $border-color;
          }
          h3 {
            position: absolute;
            top: -0.4rem;
            left: 1rem;
            line-height: 1;
            padding: 0 0.3rem;
            color: $text-muted;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            background: $black-color;
          }
        }

        .prediction__teams {
          gap: 0.6rem;
          display: flex;
          position: relative;
          flex-direction: column;

          .team__item {
            width: 100%;
            padding: 1rem;
            position: relative;
            border-radius: 1rem;
            background: $primary-color;
            box-shadow: $shadow $border-color;

            .teams__item {
              display: flex;
              align-items: center;
              position: relative;
              justify-content: space-between;

              .team__divider {
                position: absolute;
                left: 50%;
                bottom: 0;
                height: 110%;
                transform: translateX(-50%);
                display: flex;
                align-items: center;
                justify-content: center;
                background: $brand-red;
                border-radius: 2rem 2rem 0 0;
                box-shadow: 0 0 1px 2px $primary-color;

                font-size: 1.5rem;
                font-weight: 700;
                padding: 0.6rem;
                color: $black-color;
              }

              button {
                flex: 1;
                gap: 0.3rem;
                border: none;
                outline: none;
                display: flex;
                cursor: pointer;
                padding: 0.4rem 1rem;
                border-radius: 0.8rem 0 0 0.8rem;
                transition: $transition;
                align-items: flex-start;
                flex-direction: column;
                background: $card-el;

                &:last-child {
                  align-items: flex-end;
                  border-radius: 0 0.8rem 0.8rem 0;
                }
                &.active {
                  background: $brand-red;
                }

                .img {
                  width: 2rem;
                  height: 2rem;
                  overflow: hidden;
                  position: relative;

                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }
                h4 {
                  font-size: 14px;
                  font-weight: 500;
                  margin: 0.3rem 0;
                  overflow: hidden;
                  align-self: center;
                  white-space: nowrap;
                  color: $text-primary;
                  text-transform: uppercase;
                  text-overflow: ellipsis;
                }
              }
            }
            .box__down {
              display: flex;
              margin-top: 1rem;
              padding: 0 0.6rem;
              user-select: none;
              align-items: center;
              flex-wrap: wrap-reverse;
              justify-content: space-between;

              p {
                font-size: 10px;
                font-weight: 500;
                color: $text-muted;

                gap: 0.2rem;
                display: flex;
                align-items: center;
              }
            }
          }
        }
      }

      .home__venues {
        width: 100%;
        display: flex;
        position: relative;
        flex-direction: column;

        .__title {
          padding: 0.6rem 0;
          position: relative;

          h2 {
            font-size: 1rem;
            font-weight: bold;
            color: $text-primary;
            text-transform: uppercase;
          }
          p {
            font-size: 12px;
            color: $text-muted;
          }
        }
        .venues__list {
          gap: 1rem;
          display: grid;
          align-items: stretch;
          grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));

          .venue__item {
            // box-shadow: $shadow $card-el;
            background: $primary-color;
            transition: $transition;
            border-radius: 1rem;
            position: relative;
            overflow: hidden;
            padding: 0.6rem;

            .venue__img {
              width: 100%;
              height: 101.25px;
              overflow: hidden;
              border-radius: 0.8rem;
              transition: $transition;
              box-shadow: 0 1px 2px 2px $black-color;
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                width: 100%;
                height: auto;
              }
            }
            .venue__meta {
              padding: 1rem 0;
              position: relative;
              padding-bottom: 0.6rem;

              h3 {
                font-size: 14px;
                margin-bottom: 0.3rem;
                color: $text-primary;
              }
              .venue__meta__info {
                gap: 0.6rem;
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                p {
                  gap: 0.2rem;
                  display: flex;
                  font-size: 10px;
                  color: $text-muted;
                  align-items: center;
                  transition: $transition;
                }
              }
            }

            &:hover {
              box-shadow: 0 0 0 1px $border-color;
              background: $card-el;
              cursor: pointer;

              .venue__img {
                box-shadow: 0 1px 1px 2px $brand-red;
              }
            }
          }
        }
      }
    }
  }
}
